<div class="mx-6" style="background-color: rgb(66, 65, 61);">

    <div class="d-flex mx-4 justify-content-center parentbox">


        <div *ngIf="showPastEvents()" class="d-flex mx-4 my-2 py-4 flex-wrap flexbox">
            <!-- 
                <p *ngIf="pastEvents()">No Past Events to show.</p>
                <div *ngIf="!pastEvents()">
                    <app-event></app-event>
                </div> -->
            @for(event of this.navigateService.pel; track event){
            <!-- <app-event></app-event> -->
            <app-event [eventName]="event['eventName']" [date]="event['eventDate']" [startTime]="event['startTime']"
                [endTime]="event['endTime']" [seats]="event['seats']" [eventId]="event['id']" [showJoinButton]="false"
                [showRemoveButton]=true></app-event>
            }
            @empty{

            <p>No Past Events to show.</p>
            }
        </div>

        <div *ngIf="showUpcomingEvents()" class="d-flex mx-4 my-2 py-4 flex-wrap flexbox">

            <!-- <p *ngIf="upcomingEvents()">No Upcoming Events to show.</p>
                    
                    <div *ngIf="!upcomingEvents()">
                        
                        there are upcoming events
                        
                    </div> -->

            @for(event of this.navigateService.uel; track event){
            <!-- <app-event></app-event> -->
            <app-event [eventName]="event['eventName']" [date]="event['eventDate']" [startTime]="event['startTime']"
                [endTime]="event['endTime']" [location]="event['location']" [seats]="event['seats']"
                [eventId]="event['id']" [showJoinButton]=false [showRemoveButton]=true
                [showEditButton]=true></app-event>
            }
            @empty{

            <p>No Upcoming Events to show.</p>
            }
        </div>


        <div *ngIf="showOngoingEvents()" class="d-flex mx-4 my-2 py-4 flex-wrap">

            <!-- <p *ngIf="ongoingEvents()">No Ongoing Events to show.</p>
                        <div *ngIf="!ongoingEvents()">
                            there are ongoing events
                        </div> -->

            @for(event of this.navigateService.oel; track event){
            <!-- <app-event></app-event> -->
            <app-event [eventName]="event['eventName']" [date]="event['eventDate']" [startTime]="event['startTime']"
                [endTime]="event['endTime']" [seats]="event['seats']" [eventId]="event['id']"
                [showJoinButton]="false"></app-event>
            }
            @empty{

            <p>No Ongoing Events to show.</p>
            }
        </div>
    </div>
</div>