<div class="formContainer">

    <div class="eventForm">


        <form [formGroup]="eventDetails" (ngSubmit)="onCreateEvent()">

            <!-- <div class="d-flex flex-column align-items-center mt-5"> -->
            <div class="d-flex flex-column align-items-center">

                <h3>Create New Event</h3>

                <div class="form-group col-12 mt-4">

                    <!-- <label class="form-label">Event Name</label> -->
                    <input class="form-control" type="text" formControlName="eventName" placeholder="Event Name">

                </div>
                
                <div class="form-group col-12 mt-4">
                    <!-- <label class="form-label">Event Location</label> -->
                    <input class="form-control" type="text" formControlName="location" placeholder="Event Location">
                </div>

                <div class="form-group col-12 mt-4">
                    <label class="form-label">Event Date</label>
                    <input class="form-control" type="date" formControlName="eventDate" placeholder="Event Date">
                </div>

                <div class="form-group col-12 mt-4">

                    <label class="form-label">Event Timings</label><br>
                    <label class="form-label">From:</label>

                    <input class="form-control" type="time" formControlName="startTime" placeholder="Start Time">
                    <label class="form-label">To:</label>
                    <input class="form-control" type="time" formControlName="endTime" placeholder="End Time">

                </div>

                <button class="btn mt-3 col-12 green">Create Event</button>

            </div>

        </form>
    </div>
</div>